.a-1{
    font-size: 24px;
}
header{
    background-image: url('./img/fcb14a161aa9547b4673c26e4bc92cdd.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    .d-1{
        width: 60%;
        height: 80%;
        background-color: rgba(11, 114, 11, 0.295);
    }
    p{
        font-weight: 400;
        font-size: clamp(.9rem ,2vw ,1.4rem)

    }
    h1{
        font-weight: bolder;
        font-size: clamp(25px , 3vw, 55px);
    }
    button {
        background-color: rgb(2, 185, 2);
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
    }
    .d-2,.d-3{
        position: absolute;
        width: 70px;
        height: 70px;
    }
    .d-2{
        border-left: solid 5px white;
        border-bottom: solid 5px white;
        
        bottom: 0;
        left: 0;
    }
      .d-3{
        border-right: solid 5px white;
        border-top: solid 5px white;
       
       top: 0;
        right: 0;
    }
}

